@model GridVM
@{
    ViewData["Title"] = "Створення листка";
}

<h4>Вкажіть розміри листка:</h4>
<form asp-action="CreateGrid" method="post">
    <div class="form-group">
        <label for="N">Висота (N):</label>
        <input type="number" class="form-control" id="N" name="N" required>
    </div>
    <div class="form-group">
        <label for="M">Ширина (M):</label>
        <input type="number" class="form-control" id="M" name="M" required>
    </div>
    <button type="submit" class="btn btn-primary">Створити листок</button>
</form>