@model HomeVM
@{
    ViewData["Title"] = "A4";
}

<a asp-action="CreateGrid" class="btn btn-primary">Вказати розміри листка</a>

@if (Model.N > 0 && Model.M > 0)
{
    <table>
        @for (var i = 0; i < Model.N; i++)
        {
            <tr>
                @for (var j = 0; j < Model.M; j++)
                {
                    <td class="grid-cell @(Model.Cells[i][j].IsSelected ? "clicked" : "")"
                        onclick="selectCell(@i, @j)"
                        style="width:30px; height:30px; border:1px solid black;">
                    </td>
                }
            </tr>
        }
    </table>
}

<form asp-action="UpdateCellSelection" method="post" id="cell-selection-form">
    <input type="hidden" name="row" id="cell-row" />
    <input type="hidden" name="col" id="cell-col" />
</form>

<form asp-action="CalculateSheets" method="post">
    <button class="btn btn-primary" type="submit">Порахувати кількість листків</button>
</form>

<div>
    Кількість листків: @Model.SheetsCounter
</div>